@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Manrope:wght@200;300&display=swap');



* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.sectionpadding {
    padding: 40px 80px;
}

.sectionmargin {
    margin: 40px 0px;
}

body {
    width: 100%;

}

/*navbar*/

#heder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    position: sticky;
    z-index: 999;
    top: 0%;
    left: 0%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 12px;

}

#card {
    color: black;
    font-size: 20px;
}

#navbar li {
    list-style: none;
    font-weight: 600;
    margin: 8px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    font-size: 18px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}

#mobile {
    display: none;
    align-items: center;
}

#colse {
    display: none;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(182, 19, 19);
}


#navbar li a.active::after {
    content: "";
    width: 25px;
    height: 3px;
    background: rgb(182, 19, 19);
    position: absolute;
    bottom: -4px;
    left: 1px;
    border-radius: 20px;
}

#navbar li a:hover::after {
    content: "";
    width: 25px;
    height: 3px;
    background: rgb(182, 19, 19);
    position: absolute;
    bottom: -4px;
    left: 1px;
    border-radius: 20px;
}

/*---------------------------------------------------------------------------------sproduct----------------------------------------------------------------------------*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 30%;
    margin-left: 50px
    
}


.small-img-group{
    display: flex;
    justify-content: space-between;
   
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
   
}

#prodetails .single-pro-detalis{
    width: 50%;
    margin-top: 3%;
    margin-left: 10%;
}

.single-pro-detalis h6{
    font-size: 16px;
    
}

.single-pro-detalis h5{
    margin-top: 30px;
    font-size: 30px;
}

#priceh3{
    margin: 0;
    font-size: 24px;
    
}

.single-pro-detalis select{
    display: block;
    margin: 10px;
    margin-left: 0%;
    width: 100px;
    height: 30px;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
}

.single-pro-detalis input{
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    text-align: center;
}

.single-pro-detalis button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    margin-left: 5px;
    background-color: #4db4ad;
    border: 1px solid  #088178;
    cursor: pointer;
}

.single-pro-detalis h3{
 font-size: 26px;
 margin-top: 20px;
}

.single-pro-detalis p{
    color: #000000;
    font-size: 17px;
    font-weight: 200;
    margin-left: 0;
    margin-top: 20px;
    width: 600px;
    line-height: 25px;
}
/*---------------------------------------------------------------------------------Home----------------------------------------------------------------------------*/
#hero {
    background-image: url(img/banner/b1.jpg);
    width: 100%;
    height: 362px;
    background-position: top 25% right 0%;
    background-size: cover;
    display: flex;
    padding: 0px 300px;
    flex-direction: column;

}




h4 {
    margin-top: 135px;
    margin-left: 350px;
    font-size: 36px;
    font-weight: 900;
   color: #ffffff;
}
p {
    font-size: 28px;
    font-weight: 900;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 250px;
}

#hero button {
    background-image: url(img/button.png);
    background-color: transparent;
    color: #088178;
    border: 0px;
    cursor: pointer;
    padding: 14px 00px 14px 05px;
    background-repeat: no-repeat;
    font-size: 18px;
    margin-top: 10px;
    width: 200px;
}



/*---------------------------------------------------------------------------------product1----------------------------------------------------------------------------*/



#product1{
    margin-top: 50px;
}

.propri{
    margin-left: 10px;
    margin-top: 20px;
}

#prop{
    margin-left: -20px;
}

#product1 {
    text-align: center;
}

#product1 h2 {
    font-size: 40px;
    color: #088178;
    margin-top: 5%;
}

#product1 p{
    color: rgb(0, 0, 0)
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7dc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.3s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.2);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des h1 {
    color: black;
    font-size: 16px;
    display: flex;
}

#product1 .pro .des h3 {
    color: black;
    font-size: 16px;
    display: flex;
}

#product1 .pro .des h4 {
    color: #088178;
    font-size: 24px;
    font-weight: 800;
    display: flex;

}

#product1 .pro a {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-weight: 900;
    color: #088178;
    background-color: #b6cdc1;
    border-radius: 80px;
    border: 5px solid #a1bfb3;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 138px;
    flex-wrap: wrap;
}



/*---------------------------------------------------------------------------------products2----------------------------------------------------------------------------*/
.pro-container{
    margin-top: -120px;
}

#product2 {
    text-align: center;
}

#product2 p {
    color: black;
}

#product2 h2 {
    color: #088178;
}

#product2 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7dc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
    margin-top: 20px;
    transition: 0.3s ease;
    position: relative;
}

#product2 .pro:hover {
    box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.2);
}

#product2 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product2 .pro .des h1 {
    color: black;
    font-size: 16px;
    display: flex;
}

#product2 .pro .des h3 {
    color: black;
    font-size: 16px;
    display: flex;
}

#product2 .pro .des h4 {
    color: #088178;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    margin-left: 5px;
    margin-top: 5%;
}

#product2 .pro a {
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-weight: 900;
    color: #088178;
    background-color: #b6cdc1;
    border-radius: 80px;
    border: 5px solid #a1bfb3;
    position: absolute;
    right: 10px;
    bottom: 20px;
}

#product2 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

/*-----------------------------------------------------------------page----------------------------------------------------------------------*/
#pagination{
    text-align: center;
    margin: 50px;
    
}
#pagination a{
    text-decoration: none;
    background:#088178;
    padding: 15px 20px;
    border-radius: 8px;
    color: #ffff;
    font-size: 32px;
}


/*-------------------------------------------------------------Newitem sign up option---------------------------------------------------------*/
#Newitems {
    background-image: url(img/banner/b2.jpg);
    width: 100%;
    height: 200px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#Newitems h1 {
    color: #ffffff;
    margin-left: 40px;
    font-size: 42px;
}

#Newitems p {
    color: #ffffff;
    margin-left: 40px
}

#singupbotton input {
    width: 420px;
    height: 40px;
    border-radius: 5px;

}

#singupbotton button {
    float: right;
    background-color: #088178;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 60px;
    display: block;
    font-size: 16px;
}

#singupbotton button:hover {
    color: #088178;
    background-color: #ffff;
    font-weight: bolder;
}

/*--------------------------------------------------------------footer---------------------------------------------------------------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none; 
}


footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    text-decoration: none; 
}

.col h4{
    color: rgb(226, 87, 87);
    
}

#con12{
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
}
.section-f1{
    margin-top: 30px;
}

.section-f1 p{
    color:#000000;
    margin-left: 20px;
}

.section-f1 h4{
    margin-left: 00px;
    margin-top: 76px;
}



/*---------------------------------------------------copyright------------------------------------------------------------*/
#copyright{
    align-items: center;
    text-align: center;
    color: #000000;
}

/*-------------------------------------------------------------------responsive------------------------------------------*/

@media only screen and (max-width:899px) {
    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background: #E3E6F3;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 88px 0 0px 0px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile #cart1 {
        color: black;
        margin: 5px;
        text-decoration: none;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #colse {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
        color: #1a1a1a;
    }

    #lg-la {
        display: none;
    }

    #hero {
        height: 522px;
        padding: 0px 100px;
        background-position: top 30% right 26%;
    }

    #h44{
        font-size: 26px;
        margin-left: 300px;
        margin-top: 214px;
    }

    #herop{
        font-size: 20px;
        margin-left: 180px;
    }

    #product1 .pro-container {
        justify-content: center;
       
    }

    #product1 .pro {
        margin: 30px;
    }

    #product2 .pro {

        margin: 30px;

    }


    #sem-banner .banner-box {
       margin: 15px;
        width: 100%;
        height: 520px;
       padding: 30px;
        border-radius: 0%;
        border: none;
    }


    #sem-banner .banner-box1 {
      display: none;
      
    }


    #sem-banner .banner-box3{
        border-radius: 0px 0px ;
        width: 100%;
        height: 450px;
       margin-left: 12px;
       border: none;
    }

    #sem-banner .banner-box4 {
        margin-left: 12px;
        width: 96%;
        height: 430px;
       border-radius: 0px;
       border: none;
    }

    #warring h4 {
        font-size: 16px;
        
    }

    #warring h5 {
        font-size: 15px;
        
    }

    #warring h6 {
        font-size: 16px;
        
    }

    

    #singupbotton input {
        width: 300px;
        height: 40px;
        margin-left: 40px;
        margin-bottom: 50px;
    }

    .section-f1 #col-3 a h1 {
       display: none;
    }
    .section-f1 #col-3 a h2 {
        display: none;
     }
     .section-f1 #col-3 a h3 {
        display: none;
     }
     .section-f1 #col-3 a h4 {
        display: none;
     }
     .section-f1 #col-3 a h5 {
        display: none;
     }
     .section-f1 #col-3 a h6{
        display: none;
     }

     .section-f1 #col-2{
        margin-left: 150px;
     }

     .single-pro-detalis p {
        width: 415px;
    }


}

@media only screen and (max-width:400px) 
{
    
    #banner {
       padding: 20px 30px;
        
    }

    h2 {
        font-size: 23px;
        margin-left: -41%;
    }
    h1 {
        font-size: 26px;
       margin: 5px;
       margin-left: -41%;
    }
    h4 {
        margin-left: -41%;
    }
    p{
        margin-left: -41%;
    }
    #hero {
        height: 322px;
        padding: 0px 100px;
        background-position: top 10% right 34%;
        margin-bottom: 10px;
    }
#h44{
        color: rgb(255, 255, 255);
        margin-left: 10px;
        margin-top: 175px;
}

#herop{
    font-size: 16px;
    
    margin: 0px 0px 0px 0px;
}


    #hero button {
        margin-left: -60%;
    }
   
    #product1 h2 {
        margin-left: -4%;
    }

   
    #product1 p{
        margin-left: 0%;
    }
   
    #product1 .pro .des h1 {
        margin: 1%;
    }

    #product1 .pro .des h4 {
        margin: 1%;
    }

    #product2 h2 {
        margin-left: -4%;
    }

    #product2 p{
        margin-left: -4%;
    }

    #product2 .pro .des h1 {
        margin-left: 1%;
    }

    #product2 .pro .des h4 {
        margin-left: 1%;
    }

    .sectionpadding {
        padding: 0;
    }
    .banner-box h3 {
        font-size: 35px;
       margin-left: 30px;
    }

    .banner-box p {
        font-size: 24px;
    }

    .banner-box button {
        margin-left: 8%;
    }

    #sem-banner .banner-box3 h3 {
        
        
        font-size: 30px;
        font-weight: 900;
    }

    #sem-banner .banner-box3 span {
       margin-left: 60%;
    }

    #sem-banner .banner-box3 button {
     margin-left: 8%;
    }

    #sem-banner .banner-box4 {
        background-image: none;
        
    }

    #sem-banner .banner-box4 h2 {
        margin-left: 8%;
        font-size: 35px;
    }

    #sem-banner .banner-box4 button {
        margin-left: 8%;
    }

    #warring h2 {
        margin: 1%;
    }
    #warring h4 {
        font-size: 10px;
       margin: 5px;
    }
    #warring h5 {
        font-size: 10px;
       margin: 5px;
    }
    #warring h6 {
        font-size: 10px;
       margin: 5px;
    }

    #facility #EXCHANGE {
        width: 100px;
        margin-left: -95px;
    }
    #facility #EXCHANGE h2 {
        margin-left: 10px;
        font-size: 10px;
        
    }

    #facility #HANDPICKED h3 {
        width: 100px;
        
    }
   
    #facility #HANDPICKED h3 {
        margin-left: 10px;
        font-size: 10px;  
    }
    
    #facility #QUALITY h4 {
        margin-left: 10px;
        font-size: 8px;  
    }
    #facility #QUALITY {
        width: 100px;
        margin-left: -35px;
    }
    #Newitems h1 {
        margin-top: 5%;
        font-size: 24px;
        margin: 22px 5px 5px 00px;
    }
    #Newitems p {
       font-size: 14px;
        margin: 0px;
    }


#singupbotton input {
    width: 208px;
    height: 40px;
    margin: -16px 0px 0px 0px;
}

#singupbotton button {
    margin-left: 5px;
    margin-top: -8px;
}

.section-f1 #col1{
margin-left: 70px;
margin-bottom: 10px;
}




.col p{
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: -81px;
}

.col #logo5{
    margin-left: -47%;
    
}

#product2 .pro-container {
    margin-left: 10%;
}


#con12{
    margin-top: 0px;
    font-size: 30px;
    margin-left: -80PX;
}

.section-f1 #col2 a{
    margin-left: -138px;
}

#con13{
    margin-right: -80px;
    font-size: 30px;
    margin-top: 50px;
}

#con14{
    margin-left: -9px;
    margin-top:0px ;
    font-size: 30px;
}

#colh5{
    font-size: 20px;
    
    padding-left:68px ;
}

#inapp{
    margin: 0px 0px 0px 0px;
    font-size: 30px;
}

#info{
    margin: 0px;
}
.section-f1 #col3{
    margin-left: 10px;
    margin-bottom: 10px;
    
    }

    .section-f1 #col3 img{
        width: 100px;
    }

    
    .section-f1 #play-app{
        width: 100px;
    }

    .col #inapp{
        color:rgb(226, 87, 87);
        margin-left: 30%;
    }

    #col4 p{

        margin-left: 18%;
        
    }

#copyright{
    margin-left: 0px;
    font-size: 16px;
    
}


#prodetails{
   display: flex;
   flex-direction: column;
   /* width: 1000px; */
  
}

#prodetails .single-pro-detalis{
    width: 100%;
    margin-left: 15px;
}

#MainImg{
    width: 300px;
}

.small-img{
    width: 70px;
}

#col3.col{
    margin: 0px 0px 0px 0px;
}

#col4.col{
    margin: 0px 0px 0px 0px;
}


.single-pro-detalis p {
    width: 350px;

}

}